<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QT Company</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home">
                    <img class="logo" src="../../../Content/Images/Qt_logo.png" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QT Company", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                        {
                            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Enter product's name ..." })
                            <input type="submit" id="searchBox" value="Search" class="btn btn-success" />
                        }
                    </li>
                </ul>
                <div class="cart">
                    @if (Session["CartItemsSize"] != null)
                    {
                        <span id="cartItemsSize">@Session["CartItemsSize"]</span>
                    }
                    @if (Session["CartItemsSize"] == null)
                    {
                        <span id="cartItemsSize">0</span>
                    }
                    <a href="/Home/Cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
                
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <a href="#">
                        <img src="../../Images/qt.png" alt="Logo" width="200px">
                    </a>
                </div>
                <div class="col-sm-2">
                    <h4>Get started</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4 style="text-align: center;">Social networks</h4>
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© @DateTime.Now.Year Copyright - QT Company </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="../../Scripts/index.js"></script>
</body>
</html>
